.schedule-button {
  width: 6rem !important;
  height: 6rem !important;
  border: none;
  color: #b29aca;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .schedule-button {
    width: 3rem !important;
    height: 3rem !important;
  }
}
.schedule-button:hover {
  color: rgb(90, 25, 128);
  transition: ease-in-out 0.2s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
